* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1.6;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
@font-face {font-family: SFUIText;font-display: swap;src: url("../assets/fonts/SFUIText-Semibold.woff2") format("woff2");font-weight: 600;font-style: normal;}
@font-face {font-family: SFUIText;font-display: swap;src: url("../assets/fonts/SFUIText-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: SFUIText;font-display: swap;src: url("../assets/fonts/SFUIText-Medium.woff2") format("woff2");font-weight: 500;font-style: normal;}
@font-face {font-family: SFUIText;font-display: swap;src: url("../assets/fonts/SFUIText-Light.woff2") format("woff2");font-weight: 300;font-style: normal;}
@font-face {font-family: SFUIText;font-display: swap;src: url("../assets/fonts/SFUIText-Bold.woff2") format("woff2");font-weight: 700;font-style: normal;}
@font-face { 
	font-family: "iconfont"; 
	font-display: swap;
	src: url("../assets/fonts/iconfont.woff2?a944514c7875ee737196cddff47fd064") format("woff2"); 
} 
[class*="--icon-"]::before{
	font-family: iconfont; 
}
	[class*="--icon-arrow-spoiler"]::before { 
		content: "\f101"; 
	} 
html {
  scroll-behavior: smooth;
}

body {
  min-width: 23.75rem;
  color: #040b25;
  font-family: "SFUIText";
  font-size: 1rem;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 82.5rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__item__top {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.menu__item.main-item {
  position: relative;
  display: grid;
  gap: 3.125rem;
}
.menu__link {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 140%;
  color: #fff;
}
.mega.sub-menu {
  display: none;
}

.mega__panel {
  display: flex;
  gap: 1.875rem;
  align-items: flex-start;
  padding: 1.875rem;
  background: #2c469d;
  color: #fff;
}
.icon-menu {
  display: none;
}.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__container {
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  flex: 0 1 15rem;
}
.header__menu {
  flex: 0 0 74.418605%; /* 960/1290 */
}.page__main {
  padding-top: 8.75rem;
  background: url("../assets/img/main/bg.webp") 0 0/cover no-repeat;
}

.main__container {
  display: flex;
  gap: 5.625rem;
}
.main__img path {
  transition: stroke 0.3s ease-in-out;
}
.main__content {
  flex: 0 0 61.24031%; /* 790/1290 */
}
.main__title {
  font-size: 2.25rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #4cdeb2;
  margin-bottom: 2.75rem;
}
.main__btn {
  border: 0.125rem solid #fff;
  padding: 1rem 1.5rem;
  background: rgba(255, 255, 255, 0);
  display: inline-flex;
  gap: 0.625rem;
  align-items: center;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.main__btn-text {
  color: #fff;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
  transform: translateY(0.1875rem);
}
@media (max-width: 48em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}
@media (max-width: 48em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100svh;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 3.125rem 0.9375rem 1.875rem 0.9375rem;
    transition: left 0.3s;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left 0.3s;
    z-index: 2;
  }
  [data-fls-menu-open] .menu__body {
    left: 0;
  }
  [data-fls-menu-open] .menu__body::before {
    left: 0;
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  [data-fls-menu-open] .icon-menu span {
    width: 0;
  }
  [data-fls-menu-open] .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  [data-fls-menu-open] .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}
@media (any-hover: hover) and (any-pointer: fine) {
  .main__btn:hover .main__btn-text {
    color: #2c469d;
  }
  .main__btn:hover .main__img path {
    stroke: #2c469d;
  }
  .main__btn:hover {
    background-color: #fff;
  }
}
@media (any-hover: hover) and (pointer: fine) {
  .menu__item.main-item:hover .mega.sub-menu {
    display: block;
  }
}
@media (any-hover: none) and (any-pointer: coarse) {
  .main__btn:active .main__btn-text {
    color: #2c469d;
  }
  .main__btn:active .main__img path {
    stroke: #2c469d;
  }
  .main__btn:active {
    background-color: #fff;
  }
}