* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1.6;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
@font-face {font-family: SFUIText;font-display: swap;src: url("../assets/fonts/SFUIText-Semibold.woff2") format("woff2");font-weight: 600;font-style: normal;}
@font-face {font-family: SFUIText;font-display: swap;src: url("../assets/fonts/SFUIText-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: SFUIText;font-display: swap;src: url("../assets/fonts/SFUIText-Medium.woff2") format("woff2");font-weight: 500;font-style: normal;}
@font-face {font-family: SFUIText;font-display: swap;src: url("../assets/fonts/SFUIText-Light.woff2") format("woff2");font-weight: 300;font-style: normal;}
@font-face {font-family: SFUIText;font-display: swap;src: url("../assets/fonts/SFUIText-Bold.woff2") format("woff2");font-weight: 700;font-style: normal;}
@font-face { 
	font-family: "iconfont"; 
	font-display: swap;
	src: url("../assets/fonts/iconfont.woff2?a944514c7875ee737196cddff47fd064") format("woff2"); 
} 
[class*="--icon-"]::before{
	font-family: iconfont; 
}
	[class*="--icon-arrow-spoiler"]::before { 
		content: "\f101"; 
	} 
html {
  scroll-behavior: smooth;
}

body {
  min-width: 23.75rem;
  color: #040b25;
  font-family: "SFUIText";
  font-size: 1rem;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 82.5rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}[data-fls-title] {
  font-size: 2.5rem;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 3.125rem;
}[data-fls-spollers] summary {
  list-style: none;
}
[data-fls-spollers] summary::marker, [data-fls-spollers] summary::-webkit-details-marker {
  display: none;
}

.spollers {
  display: grid;
}

.spollers__item {
  border: 0.0625rem solid #e4e4e4;
}
.spollers__item:not(:last-child) {
  border-bottom: none;
}

.spollers__title {
  cursor: pointer;
  width: 100%;
  padding: 2rem 2.5rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  position: relative;
  list-style: none;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 140%;
  transition: color 0.3s ease-in-out;
}
.spollers__title::marker, .spollers__title::-webkit-details-marker {
  display: none;
}
.spollers__title::before {
  color: #6988f4;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.spollers__title.--spoller-active {
  color: #2c469d;
  outline: 0.0625rem solid #2c469d;
}
.spollers__title.--spoller-active::before {
  transform: rotate(-180deg);
  color: #2c469d;
}

.spollers__body {
  padding: 1.5rem;
  background: #ececec;
  font-weight: 300;
  font-size: 1.0625rem;
  color: #434343;
}
.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menu__link {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 140%;
  color: #fff;
  transition: color 0.3s ease-in-out;
}
.menu__arrow {
  transition: transform 0.3s ease-in-out;
}
.menu__arrow path {
  transition: stroke 0.3s ease-in-out;
}

.main-item__top {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.main-item .menu__link {
  line-height: 1;
}

.mega-anim {
  transition: height 0.35s ease, opacity 0.35s ease;
}

html:not([data-fls-loaded]) .mega.sub-menu {
  display: none;
}
.mega.sub-menu {
  padding-top: 2.1875rem;
}
.mega.sub-menu {
  position: absolute;
}
.mega__panel {
  display: grid;
  grid-template-columns: 46.666667% 22.222222% 24.444444%; /* 220/900 */
  gap: 1.875rem;
  align-items: flex-start;
  padding: 1.875rem;
  background: #2c469d;
  color: #fff;
}
.mega__subtitle {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 0.1875rem;
}
.mega__subtitle a {
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 140%;
}
.mega__col a {
  transition: color 0.3s ease-in-out;
}
.mega__title {
  border-bottom: 0.0625rem solid #6179c9;
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 0.625rem;
  line-height: 140%;
}
.mega__colGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.875rem;
}
.mega__note {
  font-size: 0.8125rem;
  max-width: 7.1875rem;
  line-height: 120%;
  color: #6179c9;
}
.mega__list:not(:last-child) {
  margin-bottom: 1.125rem;
}
.mega__list li {
  font-size: 0.9375rem;
  line-height: 140%;
  transition: padding-bottom 0.3s ease-in-out;
}
.mega__list li:not(:last-child):not(.mega-hidden) {
  padding-bottom: 0.3125rem;
}
.mega__list li h4 {
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 140%;
}
.mega__list li.mega-hidden.mega-open[class] {
  padding-bottom: 0.3125rem;
}
.mega__list.mega__tags li:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.mega__more-btn {
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 120%;
  color: #6988f4;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.mega__more-btn::after {
  content: "";
  display: inline-block;
  flex: 0 0 0.75rem;
  width: 0.75rem;
  height: 0.75rem;
  background: url("../assets/img/header/arrow-subsubmenu.svg") 0 0/100% no-repeat;
}

.icon-menu {
  display: none;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  transition: background-color 0.3s;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.625rem;
  width: 100%;
}[data-fls-header-scroll].--header-scroll {
  background-color: #294670;
}

[data-fls-header-scroll-show].--header-scroll {
  transition: translate 0.3s;
  translate: 0rem -100%;
}
[data-fls-header-scroll-show].--header-show {
  translate: 0 0;
}.printing__item {
  flex: 0 0 18.75rem;
}
.printing__item--light {
  flex: 0 0 14.625rem;
}
.printing__content {
  padding: 1.5rem;
}
.printing__title-item {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 100%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #2d469d;
  margin-bottom: 0.5rem;
}
.printing__text {
  color: #2d469d;
  line-height: 100%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.printing__list {
  margin-top: 1.25rem;
}
.printing__list-item {
  line-height: 140%;
  color: #040b25;
}
.printing__list-item:not(:last-child) {
  margin-bottom: 0.625rem;
}[data-fls-important] {
  font-weight: 600;
  color: #2c469d;
}.page__main {
  padding-top: 8.75rem;
  background: url("../assets/img/main/bg.webp") 0 0/cover no-repeat;
}

.main__container {
  display: flex;
  gap: 5.625rem;
}
.main__img path {
  transition: stroke 0.3s ease-in-out;
}
.main__content {
  flex: 0 0 61.24031%; /* 790/1290 */
}
.main__title {
  font-size: 2.25rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #4cdeb2;
  margin-bottom: 2.75rem;
}
.main__btn {
  border: 0.125rem solid #fff;
  padding: 1rem 1.5rem;
  background: rgba(255, 255, 255, 0);
  display: inline-flex;
  gap: 0.625rem;
  align-items: center;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.main__btn-text {
  color: #fff;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
  transform: translateY(0.1875rem);
}

.page__offer {
  margin-top: 2.5rem;
  margin-bottom: 6.25rem;
}

.breadcrambs__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3.75rem;
  gap: 1.375rem;
}
.breadcrambs__item {
  position: relative;
}
.breadcrambs__item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 100%;
  background-color: #d5d6da;
  right: -0.875rem;
  top: 50%;
  transform: translateY(-50%);
}
.breadcrambs__link {
  color: #434343;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 171%;
  color: #000;
  background-color: #fff;
  transition: color 0.3s ease-in-out;
}
.breadcrambs__item--current .breadcrambs__link {
  color: #2c469d;
}

.order__content {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, minmax(0, 35.625rem));
}
.order__item {
  font-weight: 300;
  color: #434343;
  line-height: 180%;
}

.page__printing:not(:last-child) {
  margin-bottom: 5rem;
}

.printing__items {
  display: flex;
  flex-wrap: wrap;
  gap: 1.875rem;
}

.advantages {
  margin-block: 7.5rem;
}
.advantages__container {
  border-bottom: 0.625rem solid #0c4e9a;
  padding: 5rem 5rem 6.25rem;
  background: #fff;
}
.advantages__title {
  font-weight: 400;
  font-size: 2rem;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 3.75rem;
  max-width: 48.125rem;
}
.advantages__items {
  display: grid;
  gap: 2.0625rem;
  grid-template-columns: repeat(auto-fit, minmax(16.0625rem, 1fr));
}
.advantages__img {
  margin-bottom: 1.5625rem;
}
.advantages__text {
  color: #434343;
  font-weight: 300;
  max-width: 11.0625rem;
}

.page__part {
  margin-bottom: 10rem;
}

.part__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
}
.part__item {
  background-color: #fff;
  padding: 2.5rem;
  outline: 0.0625rem solid #e8e8e8;
}
.part__img {
  margin-bottom: 1.25rem;
}
.part__text {
  line-height: 1.4;
}

.page__stages {
  margin-top: 7.5rem;
  margin-bottom: 10rem;
}

.stages__top {
  display: flex;
  justify-content: space-between;
  gap: 1.875rem;
  align-items: center;
  margin-bottom: 6.25rem;
}
.stages__title {
  margin-bottom: 0;
  flex: 0 0 31.627907%; /* 408/1290 */
}
.stages__info {
  flex: 0 0 40.465116%; /* 522/1290 */
  display: flex;
  gap: 0.625rem;
  align-items: flex-start;
}
.stages__right {
  font-weight: 300;
  color: #434343;
}
.stages__right p:not(:last-child) {
  margin-bottom: 0.625rem;
}
.stages__img {
  flex: 0 0 1.5rem;
}
.stages__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  gap: 1.875rem;
  counter-reset: stages;
}
.stages__item {
  position: relative;
  border: 0.0625rem solid #e8e8e8;
  border-radius: 0.375rem;
  padding: 2.5rem 1.875rem 1.875rem;
  background: #fff, linear-gradient(145deg, rgba(229, 235, 244, 0.2) 0%, rgba(229, 235, 244, 0.2) 100%);
  counter-increment: stages;
}
.stages__item::before {
  content: counter(stages);
  position: absolute;
  top: -1.25rem;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  background-color: #4cdeb2;
  color: #fff;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 145%;
  border-radius: 0.1875rem;
}
.stages__title-item {
  color: #4cdeb2;
  margin-bottom: 0.625rem;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.stages__text {
  font-weight: 300;
}

.possibility__item {
  display: flex;
  align-items: center;
  gap: 3.125rem;
  background: #fff linear-gradient(145deg, rgba(229, 235, 244, 0.2) 0%, rgba(229, 235, 244, 0.2) 100%);
  outline: 0.0625rem solid #e8e8e8;
}
.possibility__item:nth-child(even) {
  flex-direction: row-reverse;
  padding-left: 3.125rem;
}
.possibility__item:nth-child(odd) {
  padding-right: 3.125rem;
}
.possibility__img {
  flex: 0 0 31.782946%; /* 410/1290 */
}
.possibility__title {
  font-size: 2.25rem;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #4cdeb2;
  margin-bottom: 1.5625rem;
}
.possibility__item:has(ul) .possibility__title {
  margin-bottom: 0.625rem;
}
.possibility__text {
  font-weight: 300;
  font-size: 1.0625rem;
}
.possibility__text:not(:last-child) {
  margin-bottom: 1.25rem;
}
.possibility__list {
  margin-block: 1.5625rem;
}
.possibility__list-item:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.possibility__list-item {
  padding-left: 1.875rem;
  color: #434343;
  font-weight: 300;
  font-size: 1.0625rem;
  position: relative;
}
.possibility__list-item::before {
  content: "";
  position: absolute;
  left: 0.5625rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0.375rem;
  height: 0.375rem;
  background-color: #4cdeb2;
}

.page__questions {
  margin-bottom: 14.375rem;
}

.questions__title {
  margin-bottom: 3.625rem;
  max-width: 46.875rem;
}

@media (width <= 68.75rem) {
  .header__container {
    flex-direction: column;
    justify-content: initial;
  }
  .header__menu {
    width: 100%;
  }
}

@media (width <= 62em) {
  [class*=__container] {
    padding-inline: 1.9375rem;
  }
}

@media (max-width: 62em) {
  .mega.sub-menu {
    width: 58.125rem;
  }
}

@media (width <= 61.875rem) {
  .mega__panel {
    grid-template-columns: 1fr 1fr;
  }
}

@media (width <= 61.25rem) {
  .mega.sub-menu {
    width: max-content;
  }
}

@media (width <= 48em) {
  .menu__arrow {
    display: none;
  }
  .mega.sub-menu {
    width: 100%;
    position: relative;
    top: 0;
    padding-top: 0rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s ease, padding-top 0.35s ease;
  }
  ._sub-menu-active .mega.sub-menu {
    padding-top: 1.25rem;
  }
  .mega__panel {
    padding: 0;
  }
  .mega__subtitle span, .mega__subtitle img {
    display: none;
  }
  [class*=__container] {
    padding-inline: 2.4375rem;
  }
  .header__container {
    padding-block: 1.28125rem;
    background: url("../assets/img/header/bg-mobile-header.webp") center no-repeat;
  }
  .header__top > * {
    position: relative;
    z-index: 3;
  }
}

@media (max-width: 48em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 48em) {
  .menu__body {
    position: fixed;
    background-color: #2c469d;
    width: 100%;
    height: 100svh;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 6.875rem 2.5rem 1.875rem 2.5rem;
    transition: left 0.3s;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 5rem;
    left: -100%;
    top: 0;
    transition: left 0.3s;
    z-index: 2;
    background: url("../assets/img/header/bg-mobile-header.webp") center 0/cover no-repeat;
  }
  [data-fls-menu-open] .menu__body {
    left: 0;
  }
  [data-fls-menu-open] .menu__body::before {
    left: 0;
  }
  .menu__list {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.875rem;
  }
  .icon-menu {
    display: inline-block;
    position: relative;
    width: 1.625rem;
    height: 1.1875rem;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  [data-fls-menu-open] .icon-menu span {
    width: 0;
  }
  [data-fls-menu-open] .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  [data-fls-menu-open] .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

@media (width <= 35em) {
  .mega__panel {
    grid-template-columns: 1fr;
    gap: 0.9375rem;
  }
  .mega__colGrid {
    grid-template-columns: 1fr;
  }
  [class*=__container] {
    padding-inline: 1.25rem;
  }
}

@media (35rem < width <= 61.875rem) {
  .mega__col--wide {
    grid-column: span 2;
  }
}

@media (width > 48em) {
  .menu__item.main-item {
    position: relative;
    display: grid;
    gap: 3.125rem;
  }
  .mega.sub-menu {
    opacity: 0;
    visibility: hidden;
    top: 200%;
    left: 0;
    transition: top 0.3s, opacity 0.3s, visibility 0.3s;
  }
  .header {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media (any-hover: none) and (width > 48em) {
  ._sub-menu-active .mega.sub-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
  }
}

@media (any-hover: hover) and (pointer: fine) and (width > 48em) {
  .menu__item.main-item:hover .mega.sub-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
  }
}

@media (48rem < width <= 68.75rem) {
  .header__top {
    justify-content: center;
    margin-bottom: 1.3125rem;
  }
}

@media (min-width: 62em) and (max-width: 80.625em) {
  .mega.sub-menu {
    width: clamp( 58.125rem , 51.88338926174375rem  +  10.067114094vw , 60rem );
  }
}

@media (width > 68.75rem) {
  .header__logo {
    flex: 0 1 15rem;
  }
  .header__menu {
    flex: 0 0 74.418605%; /* 960/1290 */
  }
}

@media (min-width: 80.625em) {
  .mega.sub-menu {
    width: 60rem;
  }
}

@media (any-hover: hover) and (any-pointer: fine) {
  .menu__link:hover {
    color: #6988f4;
  }
  .menu__link:hover + .menu__arrow {
    transform: rotate(-180deg);
  }
  .menu__link:hover + .menu__arrow path {
    stroke: #6988f4;
  }
  .mega__col a:hover {
    color: #6179c9;
  }
  .main__btn:hover .main__btn-text {
    color: #2c469d;
  }
  .main__btn:hover .main__img path {
    stroke: #2c469d;
  }
  .main__btn:hover {
    background-color: #fff;
  }
  .breadcrambs__link:hover {
    color: #4cdeb2;
  }
}

@media (any-hover: none) and (any-pointer: coarse) {
  .menu__link:active {
    color: #6988f4;
  }
  .menu__link:active + .menu__arrow {
    transform: rotate(-180deg);
  }
  .menu__link:active + .menu__arrow path {
    stroke: #6988f4;
  }
  .mega__col a:active {
    color: #6179c9;
  }
  .main__btn:active .main__btn-text {
    color: #2c469d;
  }
  .main__btn:active .main__img path {
    stroke: #2c469d;
  }
  .main__btn:active {
    background-color: #fff;
  }
  .breadcrambs__link:active {
    color: #4cdeb2;
  }
}